// Colors
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Radius
$border-radius: 1.2rem;

// Shadows
// $shadow-glass: 0 0px 40px 5px rgba(0, 0, 0, 0.2);
$shadow-glass: 0 0px 25px 0px hsla(0, 0%, 40%, 0.2);
$shadow-country: 0px 0px 15px -5px rgba(0, 0, 0, 0.9);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  line-height: 1.6;
  color: hsl(230, 5%, 15%);
  background: hsl(230, 5%, 5%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 600;
}
