@use "_base" as *;

.heart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: $spacing-lg-preferred;
  min-height: 15rem;
  max-width: 15rem;
  margin: 0 auto;
  transition: gap 0.3s ease-in;

  @media only screen and (max-height: $bp-small) {
    padding-top: 1rem;
    min-height: 5rem;
  }

  &:hover {
    gap: 2rem;
  }

  &:hover img {
    width: 4.5rem;
    height: 4.5rem;
  }

  & img {
    transition: width 0.1s ease-in, height 0.1s ease-in;
    width: 4rem;
    height: 4rem;
  }
}

.losser__effect--heart[data-heart] {
  transition: opacity 0.5s ease-out, transform 3s cubic-bezier(0.25, 3, 0.5, 6);
  opacity: 0;
  transform: translateY(-3rem);
  position: absolute;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0) rotate(2deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0) rotate(-2deg);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0) rotate(1deg);
  }
}

.btn-front {
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1.5rem 5rem;
  font-size: $font-medium-small;
  color: $main-text-color;

  &:hover {
    background: none;

    transition: background-color 0.1s;
  }
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.counter {
  &__container {
    display: flex;
    justify-content: center;
    user-select: none;

    @media only screen and (max-width: $bp-small) {
      margin-top: -4rem;
    }

    @media only screen and (max-height: $bp-small) {
      padding-top: 1.5rem;
    }
  }

  &__count {
    font-size: $font-big;
    background: $color-accent-dark;
    color: $main-text-color;
    padding: 0rem 2rem;
    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    border-radius: 1rem;
    transition: padding 2s ease-out;

    &:hover {
      transition: padding 0.5s ease-out;
      padding: 0rem 6rem;
    }
  }

  &__hidden {
    opacity: 0;
  }
}

.score {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: $bp-small) {
      padding: 2rem;
    }

    &--result {
      display: flex;
      flex-direction: column;
      align-items: center;
      $font-big: 5rem;
      gap: 2rem;
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      gap: 1.5rem;

      @media only screen and (max-width: $bp-smaller) {
        flex-direction: column;
      }
    }
  }

  &__outcome--container {
    display: flex;
    margin-top: -18rem;
    font-size: $font-big;

    @media only screen and (max-width: $bp-smaller) {
      margin-top: -10rem;
    }
  }

  &__win {
    padding-bottom: 3rem;
  }

  &__highscore {
    font-size: $font-medium-smaller;
  }

  &__button {
    padding: 10px 20px;
    font-size: $font-medium-smaller;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: $main-text-color;
  }

  &__try-again {
    background: $color-button-secondary;

    &:hover {
      background: $color-button-secondary-dark;
      transition: background 0.1s;
    }
  }

  &__home {
    background: $color-button-primary;

    &:hover {
      background: $color-button-primary-dark;
      transition: background 0.1s;
    }
  }
}

.start {
  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    user-select: none;
  }

  &__button {
    background: $color-button-secondary;

    &:hover {
      background: $color-button-secondary-dark;
      transition: background 0.1s;
    }
  }

  &__library {
    background: $color-button-primary;

    &:hover {
      background: $color-button-primary-dark;
      transition: background 0.1s;
    }
  }
}

.world-map {
  display: flex;
  align-self: center;
  margin: -5rem 0rem 2rem 0rem;
  width: 25rem;
  position: relative;
  height: 100%;
  opacity: 0.5;
  transition: transform 1s ease-in-out, opacity 0.8s;

  &:hover {
    transition: transform 2.5s ease-in, opacity 2.5s ease-in;
    transform: rotate(360deg);
    opacity: 1;
  }
}
