@use "_base" as *;

.winner__effect {
  transition: opacity 1s ease-out, transform 3s cubic-bezier(0.25, 2, 0.5, 2.5) !important;
  opacity: 0 !important;
  transform: translateY(-3rem) !important;
  pointer-events: none;
  border: 3px solid rgba(128, 255, 0, 0.5) !important;
}

.losser__effect {
  transition: border 1s, translate3d(0, 0, 0) !important;
  border: 3px solid rgba(255, 0, 0, 0.5) !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0) rotate(2deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0) rotate(-2deg);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0) rotate(1deg);
  }
}

.highscore__container {
  & img {
    width: 5rem;
    height: 5rem;
  }
}

.losser__effect--heart {
  transition: opacity 0.5s ease-out, transform 3s cubic-bezier(0.25, 3, 0.5, 6) !important;
  opacity: 0 !important;
  transform: translateY(-3rem) !important;
  pointer-events: none;
}
