@use "_base" as *;

.heart__container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 8rem;
  user-select: none;

  & img {
    width: 4rem;
    height: 4rem;
  }
}

.losser__effect--heart {
  transition: opacity 0.5s ease-out, transform 3s cubic-bezier(0.25, 3, 0.5, 6) !important;
  opacity: 0 !important;
  transform: translateY(-3rem);
  // transform: translateY(-3rem) !important;
  pointer-events: none;
  position: absolute;
}

// .winner__effect {
//   transition: opacity 1s ease-out, transform 3s cubic-bezier(0.25, 2, 0.5, 2.5) !important;
//   opacity: 0 !important;
//   transform: translateY(-3rem) !important;
//   pointer-events: none;
//   border: 3px solid rgba(128, 255, 0, 0.5) !important;
// }

// .losser__effect {
//   transition: border 1s, translate3d(0, 0, 0) !important;
//   border: 3px solid rgba(255, 0, 0, 0.5) !important;
//   animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
// }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0) rotate(2deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0) rotate(-2deg);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0) rotate(1deg);
  }
}

.btn-front {
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1.5rem 5rem;
  font-size: 3rem;
  color: white;

  &:hover {
    background: none;

    transition: background-color 0.1s;
  }
}

.hidden {
  position: absolute;
  opacity: 0;
}

.counter {
  &__container {
    display: flex;
    justify-content: center;
    user-select: none;
  }

  &__count {
    font-size: 5rem;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    padding: 0rem 2rem;
    border-left: 2px solid hsl(334, 68%, 40%);
    border-right: 2px solid hsl(334, 68%, 40%);
    border-radius: 1rem;
  }

  &__hidden {
    opacity: 0;
  }
}

.score {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--result {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 5rem;
      gap: 2rem;
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      gap: 1.5rem;
    }
  }

  &__outcome--container {
    display: flex;
    font-size: 5rem;
    gap: 2rem;
  }

  &__highscore {
    font-size: 2rem;
  }

  &__button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: white;
  }

  &__try-again {
    background-color: #e74c3c;

    &:hover {
      background-color: #c0392b;
    }
  }

  &__home {
    background-color: #2ecc71;

    &:hover {
      background-color: #27ae60;
    }
  }
}

.start {
  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }

  &__button {
    background: hsl(0, 30%, 50%);

    &:hover {
      background: hsl(0, 30%, 30%);
    }
  }

  &__library {
    background: hsl(125, 20%, 50%);

    &:hover {
      background: hsl(125, 20%, 30%);
    }
  }
}
