@use "_base" as *;

.container {
  width: 60vw;
  min-height: 70vh;
  margin: 4vh auto;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 10rem;
  // background: hsl(172, 60%, 65%);
  background: hsl(172, 100%, 30%);
  background: linear-gradient(hsl(172, 100%, 40%) 0%, hsl(172, 100%, 35%) 100%);

  // background: rgba(167, 231, 244, 0.967);
  // backdrop-filter: blur(10px);
  border-radius: 20px;
  // border: 10px solid hsl(172, 100%, 30%);
  border: 1px solid hsl(172, 100%, 50%);
  // border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: $shadow-glass;

  &__main--title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 5rem;
  }
}

.flag {
  &__container {
    width: 100%;
    height: 100%;
  }
  &__container--inner {
    display: flex;
    gap: 4rem;
    padding-bottom: 10rem;
    user-select: none;
  }

  &__image--container {
    width: 100%;
    height: auto;
    // overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;

    &:hover img {
      transition: transform 150ms;
      transform: translateY(-10px);
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(1.2);
      will-change: transform;
      transition: transform 450ms;
      box-shadow: $shadow-country;
      border-radius: 1.5rem;
    }

    &--active {
      transition: transform 150ms;
      transform: translateY(-20px);
      opacity: 0.7;
    }
  }
}

.name {
  &__container {
    width: 100%;
    height: 100%;
  }
  &__container--inner {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
    user-select: none;
    // border-bottom: 0.2rem solid;
  }
  &__country {
    font-size: 2rem;
    padding: 2rem;
    font-weight: 400;
    text-align: center;
    // border: 2px solid;
    display: grid;
    place-items: center;
    will-change: transform;
    transition: transform 450ms;
    background: hsl(230, 5%, 15%);
    color: hsl(172, 100%, 60%);
    // border: 1px solid hsl(172, 100%, 50%);

    &--container {
      &:hover .name__country {
        transition: transform 150ms;
        transform: translateY(-10px);
      }
    }
  }
}
