@use "_base" as *;

.container {
  width: 60vw;
  min-height: 70vh;
  margin: 4vh auto;
  background-color: red;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 5rem;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: $shadow-glass;
}
