@use "_base" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: clamp(auto, 65vw, 80vw);
  overflow: hidden;
  background: $color-accent-light;
  border-radius: 2rem;
  border: 2px solid $color-primary-light-2;
  box-shadow: $shadow-glass;
  margin: $spacing-md-preferred auto;
  padding: $spacing-xl-preferred;
  gap: $spacing-sm-preferred;

  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
  }

  @media only screen and (max-height: $bp-small) {
    padding: 10rem;
  }

  &__main--title {
    font-size: $font-medium;
    text-align: center;
    padding-bottom: $spacing-xl-preferred;
    -webkit-text-stroke: 0.1px $color-accent-dark;
    &:hover span {
      color: $color-primary-light-2;
      text-shadow: 0 0 5px $color-primary-light-2;
    }
  }
}

.flag {
  &__container {
    z-index: 99;

    width: 100%;
    height: 100%;
  }
  &__container--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-md-preferred;
    padding-bottom: $spacing-3xl-preferred;
    user-select: none;
  }

  &__image--container {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    position: relative;
    background: $color-accent-dark;
    flex: 1 1 calc(50% - #{$spacing-md-preferred / 2});
    padding: $spacing-3xl-max;
    border-bottom: $spacing-sm-max solid $color-hidden;
    transition: border-bottom 0.5s;

    @media only screen and (max-width: $bp-smaller) {
      padding: 0.5rem;
      flex: 1 1 calc(50% - #{$spacing-md-preferred / 2});
    }

    &:hover {
      border-bottom: $spacing-sm-max solid $color-primary-light;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    max-width: 25rem;
    max-height: 17.4rem;

    &:hover img {
      transition: border-radius 0.5s;
      border-radius: 0rem;
    }
  }

  &__country {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(1.2);
    border: 3px solid $color-hidden;
    border-radius: 1.5rem;
    transition: border-radius 0.5s, border 0.5s, opacity 1s ease-out;
  }
}

.name {
  &__container {
    width: 100%;
    height: 100%;
  }
  &__container--inner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: $spacing-md-preferred;
    width: 100%;
    user-select: none;
    flex: 1 1 calc(50% - #{$spacing-sm-preferred});
    flex-wrap: wrap;
  }
  &__country {
    font-size: $font-medium-small;
    font-weight: 400;
    text-align: center;
    background: $color-accent-dark;
    color: $main-text-color;
    transition: border-radius 0.5s, border 0.5s;
    padding: $spacing-md-preferred $spacing-lg-preferred;
    border: $spacing-sm-max solid $color-hidden;
    border-bottom: $spacing-sm-max solid $color-primary;
    border-radius: $spacing-3xl-min $spacing-3xl-min 0 0;

    &--container {
      &:hover .name__country {
        border-bottom: $spacing-sm-max solid $color-primary-light;
      }
    }
  }
}

.select--active[data-country] {
  transition: border-radius 0.5s, border 0.5s;
  border: 3px solid $color-primary-light;
  border-radius: 0rem;
}

.container .winner__effect[data-country] {
  transition: opacity 1s ease-out, border 0.1s;
  opacity: 0;
  border: 3px solid $winner-effect;
  &:hover {
    border-bottom: 3px solid $winner-effect;
  }
}

.container .losser__effect[data-country] {
  transition: border 0.1s, translate3d(0, 0, 0);
  border: 3px solid $losser-effect;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  &:hover {
    border-bottom: 3px solid $losser-effect;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0) rotate(2deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0) rotate(-2deg);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0) rotate(1deg);
  }
}

.library {
  &__container {
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-accent-light;
    width: 90vw;
    height: 80vh;
    z-index: 2;
    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary;

    @media only screen and (max-width: $bp-small) {
      width: 95vw;
      height: 95vh;
    }

    &--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: transparent;
      z-index: 1;
    }

    &--inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      margin-right: 0rem;
      background: $color-accent-dark;
      overflow: hidden;
      border-radius: 0.5rem;
      padding: $spacing-3xl-preferred;
      font-size: $font-medium-smaller;
      font-weight: 300;
    }
    &--details {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-accent-light--solid;
      border: 2px solid $color-primary;
      border-radius: 1rem;
      min-height: 50rem;
      min-width: 40rem;
      padding: 4rem;
      gap: 2rem;
    }
  }

  &--background {
    position: relative;
  }

  &__close {
    position: absolute;
    background: $color-accent-light--solid;
    border: 2px solid $color-primary-light;
    width: 5rem;
    top: 25;
    right: 25;
    z-index: 99;
  }

  &__flag {
    max-width: 30rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  &__name {
    font-size: $font-medium-small;
    font-weight: 400;
    padding: 0.5rem;
  }

  &__icons {
    width: 5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--details {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
